

.container{
    width: 100%;
    background-color: purple;
    height: fit-content;
    display: flex;
    padding: 20px;
    justify-items: center;
    
    .logo{
        text-decoration: none;
        color: white;
        
    }

    a{
        text-decoration: none;

        h2{
            padding: 0;
            margin: 0;
            color: white;
        }
    }
    nav{
        width: 200px;
        height: min-content;
        display: flex;
        margin-left: auto;
        color: white;
        align-items: center;
        gap: 10px;

        p{
            margin: 0;
        }
        .bubble{
            width: auto;
            color: purple;
            height: auto;
            width: auto;
            padding: 5px;
            padding-top: 0px;
            padding-bottom: 0px;
            border-radius: 50%;
            background: white;
        }
        
    }
}